<ion-view view-title="Help">
	<ion-content padding="true">
		<h2>Help page here.</h2>
		<div class="row">
			<div class="col">
				<button class="button button-block button-positive">Button</button>
			</div>
			<div class="col">
				<ion-item on-hold="showDetails()">Do Laundry</ion-item>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col"><img src="http://placehold.it/280x150"></div>
			<div class="col">Caption Top</div>
		</div>
		<div class="row row-center">
			<div class="col"><img src="http://placehold.it/280x150"></div>
			<div class="col">Caption Middle</div>
		</div>
		<div class="row row-bottom">
			<div class="col"><img src="http://placehold.it/280x150"></div>
			<div class="col">Caption Bottom</div>
		</div>
		
		
	</ion-content>
</ion-view>